extends layout

block content
  md-table(v-model='rows',v-if='loggedIn', md-card='',md-fixed-header='', @md-selected='onSelect')
    md-table-toolbar
      h1.md-title Data
    md-table-toolbar(slot='md-table-alternate-header', slot-scope='{ count }')
      .md-toolbar-section-start {{ getAlternateLabel(count) }}
      .md-toolbar-section-end
        md-button.md-icon-button(@click='delEntries')
          md-icon delete

    md-table-row(slot='md-table-row', slot-scope='{ item }', md-selectable='multiple', md-auto-select='')
      md-table-cell(md-label='Campus', md-sort-by='campus') {{ item.campus }}
      md-table-cell(md-label='Branch', md-sort-by='branch') {{ item.branch }}
      md-table-cell(md-label='Mark', md-sort-by='mark') {{ item.mark }}
      md-table-cell(md-label='Name', md-sort-by='name') {{ item.name }}
      md-table-cell(md-label='Email', md-sort-by='email') {{ item.email }}


  div(v-if='!loggedIn')
    h1 Not Authorized

block scripts
  script(src="/javascripts/mod_client.js")