extends layout

block content
  md-table(v-model='rows', md-card='',md-fixed-header='', @md-selected='onSelect')
    md-table-toolbar
      h1.md-title Data
    md-table-toolbar(slot='md-table-alternate-header', slot-scope='{ count }')
      .md-toolbar-section-start {{ getAlternateLabel(count) }}
      .md-toolbar-section-end
        md-button.md-icon-button(@click='delEntries')
          md-icon delete

    md-table-row(slot='md-table-row', slot-scope='{ item }', md-selectable='multiple', md-auto-select='')
      md-table-cell(md-label='Campus', md-sort-by='campus') {{ item.campus }}
      md-table-cell(md-label='Branch', md-sort-by='branch') {{ item.branch }}
      md-table-cell(md-label='Mark', md-sort-by='mark') {{ item.mark }}
      md-table-cell(md-label='Facebook User ID', md-sort-by='fb_id') {{ item.fb_id }}

block scripts
  script(src="/javascripts/mod_client.js")